/* Write your CSS here */
* {
  margin: 0;
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4ebf3;
  border-radius: 15px;
  box-shadow: 1px 1px 8px 1px #eaebed;
  padding: 50px 30px;
}
.heading {
  color: #0b69ff;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 15px 0;
}
.para {
  color: #333333;
  font-size: 18px;
  font-family: 'Roboto';
  margin: 15px 0;
}
.button {
  color: #ffffff;
  font-size: 20px;
  padding: 8px 25px;
  background-color: #0b69ff;
  font-family: 'Roboto';
  border: none;
  border-radius: 8px;
  margin: 15px 0;
}
.count {
  color: #0b69ff;
  font-size: 50px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 10px 0;
}
